body {
    background-color: black;
    text-align: center;
    background-size: cover;
}
h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}