body {
  background-color: #212121;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.siderbar {
  height: 100%;
  width: 200px;
  background-color: 2f2f2f;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.siderbarItem {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}
