body {
  background-color: #121212;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}
