@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --text-color: #000;
        --link-color: #1a0dab;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202124;
        --text-color: #fff;
        --link-color: #8ab4f8;
    }
}