@tailwind base;
@tailwind components;
@layer base {
  html {
    @apply text-white;
    @apply bg-black;
  }
  a {
    @apply text-blue-400;
  }
}
@tailwind utilities;

a[target="_blank"] {
  background-image: url(/ext_link.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1rem;
  background-size: 1rem 1rem;
}

.spacer_start {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.spacer_start svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.spacer_start .shape-fill {
  fill: #ffffff;
}

@media (max-width: 640px) {
  .spacer_start svg {
    width: calc(150% + 1.3px);
    height: 110px;
  }
}
