* {
    font-family: 'Lucida Console', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.page {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    max-width: 56rem;
}

.place-right {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: auto;
}

select {
    border-radius: 5px;
}