@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}
	body {
		@apply list-none bg-white font-poppins text-black 
	dark:bg-black dark:text-white;
	}
	a {
		@apply text-blue-800 dark:text-blue-300;
	}
	.init-div {
		@apply flex flex-col gap-5 px-5 pb-5 pt-28;
	}
	.blue-button {
		@apply rounded-xl bg-dark_blue
    p-4 text-sm
    font-semibold
    text-blue-300 duration-200
    hover:scale-105 active:scale-95
    sm:p-5 sm:text-base;
	}
	.hidden-button {
		@apply rounded-xl p-4
    text-sm font-semibold
    text-black duration-200 hover:scale-105
    hover:bg-dark_darker active:scale-95
    dark:text-white sm:p-5
    sm:text-base;
	}

	::selection {
		@apply bg-blue-300 text-dark;
	}
}

/* chrome scrollbar shit (trying to make it like firefox's) */

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar:hover {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 0.8rem;
	background-color: #aaaaaa;
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 0.8rem;
	background-color: #999999;
}

::-webkit-scrollbar-track-piece:start {
	background: transparent url('/scrollbar/transparent.png') repeat-y;
}

::-webkit-scrollbar-track-piece:end {
	background: transparent url('/scrollbar/transparent.png') repeat-y;
}

a[target='_blank'] {
	background-image: url(/icons/ext_link.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 1rem;
	background-size: 1rem 1rem;
}

a[target='github'] {
	background-image: url(/logos/github.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 1.2rem;
	background-size: 1rem 1rem;
}
a[target='twitter'] {
	background-image: url(/logos/twitter.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 1.2rem;
	background-size: 1rem 1rem;
}

.tippy-box[data-theme~='dark'] {
	background-color: #121212;
	color: white;
	padding: 12px;
	border-radius: 10rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 700;
}

.spacer_start {
	position: absolute;
	top: 10;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 0;
}

.spacer_start svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 115px;
}

.spacer_start .shape-fill {
	fill: #ffffff;
}

@media (min-width: 1536px) {
	.spacer_start svg {
		width: calc(90% + 1000px);
		height: 120px;
	}
}

@media (max-width: 640px) {
	.spacer_start svg {
		width: calc(150% + 1.3px);
		height: 110px;
	}
}
