@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  flex: 1;
  align-items: center;
  justify-items: center;
}
.spacer {
  top: 100;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.spacer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
}

.spacer .shape-fill {
  fill: #ffffff;
}
.spacer2 {
  top: 100;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.spacer2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
}

.spacer2 .shape-fill {
  fill: #000000;
}

@media (max-width: 767px) {
  .spacer2 svg {
    width: calc(182% + 1.3px);
    height: 150px;
  }
}
